@{
    Page.Title = "Home Page";
}


@RenderPage("header.cshtml")

<h1>Hello Web Pages</h1>
<p>This is a paragraph</p>


@RenderPage("InputForms.cshtml")

@RenderPage("DisImg.cshtml")

@RenderPage("Person.cshtml")


@RenderPage("footer.cshtml")